/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Flash alerts */
.flash {
  padding: 10px;
  margin: 10px;
}
.alert {
  border-left: 3px dashed red;
  color: red;
  background-color: pink;
}
.notice {
  border-left: 3px dashed blue;
  color: blue;
  background-color: lightcyan;
}

/* For club night rows */
.stronger {
  font-weight: bold;
  color: #333;
}
.weaker {
  color: #999;
}

.blue-team {
  color: blue;
}
.red-team {
  color: red;
}

/* Scoresheet score bubbles **********/
.label-Book { background-color: #C66} /* browns */
.label-Bible { background-color: #933}
.label-Attendance { background-color: #C63}
.label-Section { background-color: #594F4F} /* palette: https://www.colourlovers.com/palette/443995/i_demand_a_pancake */
.label-Training { background-color: #547985}
.label-Final { background-color: #45ADA8}
.label-Friend { background-color: #C09} /* fuschia */
.label-ThemeParticipation { background-color: #36F} /* blue */
.label-Team { background-color: #360} /* greenish */
.margLR3 {
  margin-left: 3px;
  margin-right: 3px;
}

/* Progress bar for awards pace ***********/
.award-prog-bar {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.gradient-bg-Gold {
  background-image: linear-gradient(#FFD700, #d7af00); /* gold, dark gold */
}
.gradient-bg-Silver {
  background-image: linear-gradient(#c0c0c0, #a9a9a9); /* silver, dark silver */
}

.award-prog-bar-text {
  overflow: visible;
  white-space: nowrap;
  color: #333;
  margin: 0 5px;

}
